body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    width: 1400px;
    margin: 0 auto;
    min-height: 450px;
    display: block;
    background-image: url(../img/greenhill1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.headerbox{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header .container .headerbox h1{
    margin: 10px auto;
    font-size: 32px;
    color: #fff;
    font-weight: 500px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

header .container .headerbox p{
    margin: 5px auto;
    font: 18px;
    color: #fff;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    text-align: justify;
}

.btn{
    color: #fff;
    margin: 10px auto;
    background: none;
    padding: 10px 40px;
    border-radius: 5px;
    border-color: #fff;
}




.container_2{
    background-color: aquamarine;
    width: 1200px;
    min-height: 450px;
    margin: 100px auto 50px;
    display: flex;
    justify-content: center;
}

.text_section{
    background-color: #fff;
    width: 50%;
    padding: 0 60px 0 0;
    box-sizing: border-box;
}

.img_section{
    background-image: url(../img/coffeemaker1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
    width: 50%;
    margin: 0 auto;
    display: block;
}

.container_2 .text_section h1{
    margin-top: 0;
    font-size: 32px;
    color: black;
    font-weight: 500px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.container_2 .text_section p{
    margin: 5px auto;
    font: 18px;
    color: black;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    text-align: justify;
}






.container_3{
    background-color: aqua;
    width: 1200px;
    min-height: 450px;
    margin: 100px auto;
    display: flex;
    justify-content: center;

}

.img_section_2{
    background-image: url(../img/coffee1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin: 0 auto;
    display: block;
}

.text_section_2{
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 0 0 0 60px;
    
}

.container_3 .text_section_2 h1{
    margin-top: 0;
    font-size: 32px;
    color: black;
    font-weight: 500px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.container_2 .text_section_2 p{
    margin: 5px auto;
    font: 18px;
    color: black;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    text-align: justify;
}


footer{
    width: 1400px;
    margin: 0 auto;
    min-height: 450px;
    display: block;
    background-image: url(../img/coffeeshop1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(39, 37, 37);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_4{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footerbox{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .container_4 .footerbox h1{
    margin: 10px auto;
    font-size: 26px;
    color: #fff;
    font-weight: 500px;
    letter-spacing: 5px;
    word-spacing: 5px;

}

footer .container_4 .footerbox p{
    margin: 5px auto;
    font: 18px;
    color: #fff;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    text-align: justify;
}



.container_5{
    background-color: rgb(209, 203, 203);
    width: 1400px;
    min-height: 200PX;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.footerlayer{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_5 .footerlayer h1{
    margin: 10px auto;
    font-size: 20px;
    color: #313131;
    font-weight: 400px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.container_5 .footerlayer p{
    margin: 5px auto;
    font: 18px;
    color: #313131;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
}

.container_5 .footerlayer p a{
    font: 18px;
    color: black;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 20px;
    text-decoration: none;
}